<div class="main">
    <div class="container">
      <div class="head">Edit Product</div>
      <form>
        <div class="form-group">
          <label for="id">Id:</label>
          <input type="text" id="id" name="id">
        </div> 
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" id="name" name="name">
        </div>
        <div class="form-group">
          <label for="price">Price:</label>
          <input type="number" id="price" name="price">
        </div>
        <div class="form-group">
          <label for="image">Image:</label>
          <input type="image" id="image" name="image">
  
        </div>
        <div class="form-group">
          <label for="description">Description:</label>
          <textarea id="description" name="description"></textarea>
        </div>
        <div class="form-group">
          <button onclick="editProduct()" type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>